h1, h2 {
    margin-bottom: 0.25em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
    padding-top: 0.5em;
    overflow: hidden;
}

p {
    margin: 0.5em 0;
}

a {
    color: #0645ad;
    text-decoration: none;
}

a.mw-selflink {
    color: inherit;
    font-weight: bold;
    text-decoration: inherit;
}

#coordinates {
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    text-align: right;
    text-indent: 0;
    font-size: 85%;
    text-transform: none;
    white-space: nowrap;
}

.toc {
    display: table;
    padding: 7px;
    font-size: 95%;
}

.toc,
.toccolours,
.thumbinner,
.wikitable,
.wikitable td,
.wikitable th,
.gallery .thumb,
.infobox,
.infobox-full-data,
.thumbimage {
    border: 1px solid #a2a9b1;
}

.toc, .toccolours, .thumbinner, .wikitable, .gallery .thumb, .infobox {
    background-color: #fafafa;
}

.toc h2 {
    display: inline;
    margin: 0;
    border-bottom: none;
    font-size: 1em;
    font-weight: bold;
}

.toc ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0.3em 0;
}

.toc ul ul {
    padding-left: 0;
    margin: 0 0 0 2em;
}

.toctogglespan:before {
    content: ' [';
}

.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after {
    content: 'hide';
}

.toctogglecheckbox:checked + .toctitle .toctogglelabel:after {
    content: 'show';
}

.toctogglespan:after {
    content: ']';
}

.toctogglelabel {
    color: #0645ad;
    cursor: pointer;
}

.toctogglecheckbox:checked ~ ul {
    display: none;
}

.thumb {
    width: auto;
    background-color: transparent;
}

.tleft {
    float: left;
    clear: left;
    margin: 0.5em 1.4em 1.3em 0;
}

.tright {
    clear: right;
    float: right;
    margin: 0.5em 0 1.3em 1.4em;
}

table.floatright {
    clear: right;
    float: right;
    margin: 0 0 0.5em 0.5em;
}

.floatleft {
    clear: left;
    float: left;
}

.floatright {
    clear: right;
    float: right;
}

.thumbinner, .thumbcaption {
    padding: 3px;
}

.wikitable {
    border-collapse: collapse;
}

.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: #ececec;
}

.wikitable th, .wikitable td {
    padding: 0.2em 0.4em;
}

ul {
    margin: 0.3em 0 0 1.6em;
    padding: 0;
}

.infobox-label, .infobox-data, .infobox th, .infobox td:not(.infobox-image) {
    text-align: left;
}

.center,
.gallerybox .thumb,
.infobox-image,
.toc .toctitle,
.infobox-full-data,
.infobox .infobox-above,
.wikitable > tr > th,
.wikitable > * > tr > th,
.category {
    text-align: center;
}

.plainlist ol, .plainlist ul {
    list-style: none;
    margin: 0;
}

.mw-empty-elt {
    display: none;
}

*.center * {
    margin-left: auto;
    margin-right: auto;
}

.gallery {
    list-style: none;
}

.gallerybox {
    vertical-align: top;
    display: inline-block;
}

.thumbcaption {
    text-align: left;
}

.gallerytext, .thumbcaption {
    font-size: 94%;
}

.infobox {
    border-spacing: 3px;
    color: black;
    margin: 0.5em 0 0.5em 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
}

.infobox-label {
    text-align: left;
    vertical-align: top;
}

.infobox-label, .infobox-above, .infobox-data, .infobox-image {
    border: none;
}

.mw-references-columns {
    column-width: 30em;
    margin-top: 0.3em;
}

.mw-references-columns li {
    page-break-inside: avoid;
    break-inside: avoid-column;
}

.navbox {
    font-size: 88%;
    line-height: 1.5em;
}

.hlist ul {
    margin: 0;
}

.navbox .hlist ul {
    padding: 0.125em 0;
}

.hlist li, .hlist ul ul {
    display: inline;
}

.hlist dd:after, .hlist li:after {
    content: " · ";
    font-weight: bold;
}

.hlist dd:last-child:after, .hlist dt:last-child:after, .hlist li:last-child:after {
    content: none;
}

.hlist li li:first-child::before {
    content: " (";
    font-weight: normal;
}

.hlist li li:last-child:after {
    content: ")";
    font-weight: normal;
}

.navbox .navbox-group {
    border: none;
    border-top: 2px solid #fff;
}
